<div class="panel panel-default">
	<div class="panel-heading">
		{{(inserting) ? "Cadastro de Atividade" : "Editando Atividade: " + domainEdit.cdAtividade}}
	</div>
	<div class="panel-body">
		<div ng-show="errorMessage" class="alert alert-danger alert-dismissible">
		  <strong>Erro ao {{(inserting) ? "cadastrar" : "atualizar"}} a atividade, Detalhes: </strong> {{(errorMessage.data.retorno && errorMessage.data && errorMessage.data.retorno) ? errorMessage.data.retorno : errorMessage}}.
		</div>
		<form class="form" name="formCad">
			<div class="form-group mx-sm-3 mb-2">
				<label for="nmAtividade">Nome:</label>
				<input class="form-control" ng-model="domainEdit.nmTitulo" type="text" name="nmAtividade" id="nmAtividade" ng-required=true >
			</div>
			<div class="form-group mx-sm-3 mb-2">
				<label for="dsAtividade">Descrição:</label>
				<input class="form-control" ng-model="domainEdit.dsAtividade" type="text" name="dsAtividade" id="dsAtividade" ng-required=true />
			</div>
			<div class="form-group mx-sm-4 mb-4"></div>
			<div class="form-group mx-sm-3 mb-2">
				<label for="tipoAtividadeFilter">Tipo:</label>
				<select id="tipoAtividadeFilter" class="form-control" ng-model="tipoAtividadeFilter" ng-options="option.name for option in tipoAtividadeOptions track by option.id"></select>
			</div>
			<div class="form-group mx-sm-4 mb-4"></div>
			<div class="form-group mx-sm-3 mb-2">
				<label for="isAtivofilter"> Ativo:</label>
				<select id="isAtivofilter" class="form-control" ng-model="flAtivoSelectValue" ng-options="option.name for option in flSimNaoOptions track by option.id"></select>
			</div>
			<div class="form-group mx-sm-3 mb-2">
				<button type="submit" ng-disabled="!formCad.$valid" ng-click="insertOrUpdate()" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> {{(inserting) ? "Cadastrar" : "Alterar"}}</button>
			</div>
		</form>
	</div>
</div>
<a ng-href="#!/listAtividade"><button class="btn btn-primary"><span class="glyphicon glyphicon-circle-arrow-left"></span> Voltar</button></a>
