<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Filtros</strong>
  </div>
  <div class="panel-body">
	  <form class="form-inline">
		<div class="form-group mx-sm-3 mb-2">
			<label for="isAtivofilter"> Ativo:</label>
			<select id="isAtivofilter" class="form-control" ng-model="flAtivoSelectValue" ng-options="option.name for option in flSimNaoOptions track by option.id"></select>
		</div>
		<div class="form-group mx-sm-4 mb-4"></div>
		<div class="form-group mx-sm-3 mb-2">
			<label for="isFinalizadaFilter">Finalizada:</label>
			<select id="isFinalizadaFilter" class="form-control" ng-model="flFinalizadaSelectValue" ng-options="option.name for option in flSimNaoOptions track by option.id"></select>
		</div>
		<div class="form-group mx-sm-4 mb-4"></div>
		<div class="form-group mx-sm-1 mb-1">
			<label for="tipoAtividadeFilter">Tipo:</label>
			<select id="tipoAtividadeFilter" class="form-control" ng-model="tipoAtividadeFilter" ng-options="option.name for option in tipoAtividadeOptions track by option.id"></select>
		</div>
		<div class="form-group mx-sm-1 mb-1">
			<button type="submit" ng-click="list()" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
		</div>
	  </form>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Lista de Atividades</strong>
  </div>
  <div class="panel-body">
	<div ng-show="errorMessage" class="alert alert-danger alert-dismissible">
		<strong>Erro ao processar os dados, Detalhes: </strong> {{(errorMessage.data.retorno && errorMessage.data && errorMessage.data.retorno) ? errorMessage.data.retorno : errorMessage}}.
	</div>
    <div class="table-responsive">
      <table class="table">
        <thead>
            <tr>
              <th scope="col">Cód</th>
              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>
              <th scope="col">Tipo</th>
              <th scope="col">Finalizada</th>
			  <th scope="col">Ativo</th>
              <th scope="col" title="Editar"><span class="glyphicon glyphicon-pencil"></span></th>
              <th scope="col" title="Ativar/Desativar"><span class="glyphicon glyphicon-remove"></span></th>
			  <th scope="col" title="Finalizar/Reabrir"><span class="glyphicon glyphicon-check"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="domain in domainList">
              <th scope="row">{{domain.cdAtividade}}</th>
              <td>{{domain.nmTitulo}}</td>
              <td>{{domain.dsAtividade}}</td>
              <td>{{tipoAtividadeOptions[domain.cdTipoAtividade].name}}</td>
              <td ng-class="domain.isFinalizada ? 'text-success': 'text-danger'"><strong>{{domain.isFinalizada ? 'Sim' :'Não'}}</strong></td>
			  <td ng-class="domain.isAtivo ? 'text-success': 'text-danger'"><strong>{{domain.isAtivo ? 'Sim' :'Não'}}</strong></td>
              <td><a title="Editar Atividade {{domain.cdAtividade}}" ng-href="#!/editAtividade/{{domain.cdAtividade}}"><span class="glyphicon glyphicon-pencil"></a></td>
              <td><span class="glyphicon" ng-class="{'glyphicon-remove': domain.isAtivo, 'glyphicon-ok': !domain.isAtivo}" ng-click="removerAtividade(domain)"></td>
			  <td><span class="glyphicon" ng-class="{'glyphicon-retweet': domain.isFinalizada, 'glyphicon-check': !domain.isFinalizada}" ng-click="finalizaAtividade(domain)"></td>
            </tr>
			<tr ng-if="domainList.length <= 0"><td colspan="8" class="text-center"><strong>Nenhum Registro Encontrado!</strong></td></tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
<a ng-href="#!/cadAtividade"><button class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Cadastrar</button></a>
